<h1>Inscripció proves atletisme</h1>

<div style="border: 1px solid black;">
    <section><h1>Dades identificatives</h1></section>
    <label>DNI: 
        <input type="text" [(ngModel)]="this.dni" maxlength="8">
        <p>{{this.getDniLetter()}}</p>
    </label>
    
    <label>Codi de federat: 
        <input type="number" [(ngModel)]="this.codiFederat" maxlength="2">
    </label>

    <label>Nom i cognoms: 
        <input type="text" [(ngModel)]="this.nomICognoms" maxlength="50">
    </label>
    
    <label>Telèfon: 
        <input type="tel" [(ngModel)]="this.telefon" maxlength="11">
    </label>
    
    <label>Email: 
        <input type="email" [(ngModel)]="this.email" maxlength="50">
    </label>
</div>

<div style="border: 1px solid black;">
    <section><h1>Inscripció</h1></section>
    @for(option of options; track $index) {
        <label>
            <input type="checkbox" />
            {{option}}
        </label>
    }
</div>

<button>Inscripció</button>