<h1>Inscripció proves atletisme</h1>

<div style="border: 1px solid black;">
    <section><h1>Dades identificatives</h1></section>
    <label>DNI: 
        <input type="text">
        <p></p>
    </label>
    
    <label>Codi de federat: 
        <input type="number">
    </label>
    
    <br>
    
    <label>Nom i cognoms: 
        <input type="text">
    </label>
    
    <br>
    
    <label>Telèfon: 
        <input type="text">
    </label>
    
    <br>
    
    <label>Email: 
        <input type="email">
    </label>
</div>

<div>
    <section><h1>Inscripció</h1></section>
    <label>
        <input type="checkbox" value="100"  />
        100 smooth meters
    </label>
    
    <label>
        <input type="checkbox" value="200"  />
        200 smooth meters
    </label>
    
    <label>
        <input type="checkbox" value="400"  />
        400 smooth meters
    </label>
    
    <label>
        <input type="checkbox" value="800" />
        800 smooth meters
    </label>
    
    <label>
        <input type="checkbox" value="1000"  />
        1000 smooth meters
    </label>
</div>

<br><br>

<button>Inscripció</button>